.todo-container{
    text-align: center;
    background-color: rgb(234, 229, 229);
    height: 400px;
    max-width:400px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 10px;

    h1{
        font-family: 'Rubik Maze';
        background-color: cadetblue;
        border-radius: 10px;
    }

    input{
        border: none;
        margin: 20px;
        width: inherit;
        padding: 10px;
        border-bottom: 2px solid gray;
        background-color:rgb(234, 229, 229) ;
        
    }
    button{
        border-radius: 10px;
        background-color: rgba(24, 151, 96, 0.703);
        
    }
    ul{
        
    
    list-style: none;
    background-color: rgb(234, 229, 229) ;
    
    align-items: center;
    justify-content: space-between;
   

    }
   
   
}